.cardsStyle {
    background: rgba(254, 254, 254, 0.277);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid rgba(255, 255, 255, 0.612);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    max-width: 320px;
    width: 320px;
    margin-bottom: 10px;
    transition: all 300ms ease-in-out;

}

.imgstyle {
    width: 240px;
    height: auto;
    border-radius: 999px;
    transition: all 300ms ease-in-out;
}

.cardsStyle:hover .imgstyle {
    border-radius: 22.5px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
}

.title {
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow: 0px 3px 10px #000000;
    width: 100%;
    text-align: center;
}

.cardsStyle:hover .title {
    color: #80ff00;
    text-shadow: 0px 3px 10px #234204;
}

.cardsStyle:hover {
    background: rgba(255, 255, 255, 0.588);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    border: 3px solid rgba(255, 255, 255, 0.612);
}