.wrapInfo{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #ffffff;
    padding: 20px;
    border: 4px solid #090909;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #090909;
    animation: bt 1s ease forwards;
}

.wrapIndoData{
    border: 4px solid #090909;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 2px;
}

.wrapIndoData img{
    width: 250px;
    border-radius: 8px;
    border: 4px solid #090909;
}

.wrapIndoData h4{
    color: #e67606;
    margin-top: 10px;
    text-shadow: 0px 3px 10px #e67606;
    font-weight: 900;

}

.wrapIndoData h4 strong{
    color: #1f4603;
    text-shadow: 0px 3px 10px #52bc07;
}


.wrapIndoData p{
    margin-bottom: 0px;
    color: rgb(1, 27, 40);
}

.wrapIndoData strong{
    color: rgb(2, 38, 82);
    font-weight: 900;
    text-transform: uppercase;
}

.navButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 20px;
}

.navBtn {
  padding: 8px 16px;
  background: #2ecc71;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.navBtn:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.428);
}

.navBtn:disabled {
  background: gray;
  cursor: not-allowed;
  transform: none;
}

.closeBtn {
  position: absolute;
  top: 10px;
  left: 46%;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.closeBtn:hover{
    transform: scale(1.2) rotate(360deg);
}


@keyframes bt {
    0%{
        transform: translate(-50%, -100%);
    }
    100%{
        transform: translate(-50%, -50%);

    }
}
