.wrapAll{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  color: black;
}

.wrapmap{
  box-shadow: 0px 3px 20px #000000;
  width: 700px;
  height: 400px;
  border: 4px solid #000000;
  border-radius: 20px; 
}

@media (width <= 1000px){
  .wrapmap{
    box-shadow: 0px 3px 20px #000000;
    width: 95%;
    height: 90vh;
    border: 4px solid #000000;
    border-radius: 8px;
  }
}