* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('/rm-bg-animated-mobile.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.728); 
  z-index: -1; 
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  margin-bottom: 8vh;
}

a {
  color: white !important;
}

input[type="radio"] {
  margin-right: 5px;
}


@media (width >= 768px) {
  body {
    background-image: url('/rm-bg-animated-mobile.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.541); 
  z-index: -1; 
}

}



@media (width > 1000px) {
  body {
    background-image: url('/rm-bg-animated.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.419); 
  z-index: -1; 
}

}